{% extends 'base.html' %}

{% block 'body' %}
	
	<a class="btn btn-light" href="/goals/plans" role="button">Back</a>

	<br>
	<br>
	<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{plan}}:</h4>
	<ul>
        <p>Progress: {{done}} of {{total}} tasks completed</p>
        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: {{progress}}%">{{progress}}%</div>
        </div>
        <br>
	</ul>
	<div class="container mt-5 mb-5">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<ul class="list-group">
					{% for task in tasks %}
						{% ifchanged task.group %}
						<li class="list-group-item list-group-item-info">
							<h4>{{task.group}}</h4>
						</li>
						{% endifchanged %}
						<li class="list-group-item">
							<p><strong>{{task}}</strong></p>
							<p>{{task.description}}</p>
							<p>{{task.date}}</p>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}